<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for Android Usage Access -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <!-- Required for Display Over Other Apps -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Allows discovery of apps that can appear in the launcher -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

</manifest>