<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for Android Usage Access -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <!-- Required for Display Over Other Apps -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Allows discovery of apps that can appear in the launcher -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <!-- Blocking apps that reached their daily limit -->
    <service
        android:name="expo.modules.tilandroid.TilAccessibilityService"
        android:exported="true"
        android:label="TIL app blocking"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
        <intent-filter>
            <action android:name="android.accessibilityservice.AccessibilityService" />
        </intent-filter>

        <meta-data
            android:name="android.accessibilityservice"
            android:resource="@xml/til_accessibility_service" />
    </service>

    <activity
        android:name="expo.modules.tilandroid.LockActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:launchMode="singleTask"
        android:noHistory="true"
        android:taskAffinity="com.til.lock"
        android:theme="@android:style/Theme.DeviceDefault.Light" />

</manifest>
